*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: grid ; /*aplico grid para que header y footer siempre estén pegados al body*/
    grid-template-rows: auto 1fr auto; 
    min-height: 100vh; 
    margin: 0;
    /*Aplico Gradiente al Body*/
    background: #dd5e89; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dd5e89, #f7bb97); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dd5e89, #f7bb97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    


    
}



/*Estilos Header*/

@media (min-width: 560px){

    header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FFEEDD;
    font-size: 1.5em;
        
}

main section{ 
    display: flex;
    flex-flow: column nowrap;
    justify-content:center ;

}


} 

nav{
    width: 50%;
    
}
.listaNav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-style:normal;

}

li {
    list-style: none;
    
}
ul li a{
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}
li a:hover{
    color: rgb(231, 12, 121);
}

/*Index section, títulos*/

main section{ 
    display: flex;
    flex-flow: row wrap;
    justify-content:flex-start ;

}

section h1{
    color: rgb(231, 12, 121);
    font-size: 5em;
    text-align: center; 
}



section h2 {
    display: flex;
    color: rgb(231, 12, 121);
    font-size: 3em;
    
}

/*video del index*/


.bordeRedondeado{
    border-radius: 10px;
}
/*tabla del menú*/


.formatoTabla {
    padding: 100px;
    font-size: 4em;
    background-image: url(../img/mae-mu-I7A_pHLcQK8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    
}
.color{
    color: blanchedalmond;
}

/* Estilos footer*/


footer{
    width: 100%;
    background-color: #FFEEDD;
    font-size: 1.5em;
}

footer section{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    align-content:space-around;
    

}



footer a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer section a:hover {
    color:blueviolet;
}
footer div {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-top: 3rem;
    font-size: 1em;
    


}



.textoEnNovedades{
    background-color: darkgrey;
    text-align: center;
    font-size: 1.5em;
}



.formatoForm {
    margin:20px;
    padding: 20px 10px 10px 20px;
    background-color: aliceblue;
    border-style: outset;
    border-color: aliceblue;
}
/*separo contenido*/

section article{ 
    background-color: #fff;
    margin: 1.5rem;
    border-radius: 0.1rem;
    padding: 1.5rem;
    font-size: 1.5em;
}

/*Grid*/

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);

}
.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) ;
    grid-auto-rows: minmax(200px, auto) ;
    gap: 5px;
    padding: 15px;
    grid-auto-flow: dense;

}
/*aplico media querie a gallery*/
@media (min-width: 480px) {

    /*configuro los espacios que van a ocupar cada imagen ancho/alto*/
.wide {
    grid-column: span 3; /*dos columnas de ancho*/
}

.tall{
    grid-row: span 4;/*tres columnas de alto*/
}

}


/*Aplico @media queries header y articles

@media screen and (max-width: 320px) {
    header {
        flex-flow: column wrap;
        align-items: flex-start;
        
    }

    body{
        display: flex;
        flex-flow: column wrap;
        align-items:stretch;
        
        

    }
    
    
    article {
       flex-direction: column;

    }

}*/
  /*Aplico Animacion en seccion CUPONES*/
.animacionImg {
    margin: 0 auto;
    transform: scale(.8);
    }

.animacionImg:hover{
    transform: scale(1);
}
