/*Estilos Novedades*/

main h1{
    text-align: center;
    padding: 60px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(7, 7, 7);
    font-size: 5em;
    
}

article, p{
    
    font-family: 'Montserrat', sans-serif;
    color: rgb(7, 7, 7);
    text-align: center;
   
}



.textoEnNovedades{
    font-family:'Montserrat', sans-serif;
    color: black;
    text-align: center;
    font-size: 1.5em;
}